body
{
	background: #FBF2C0;
}
.btn
{
	color: #FBF2C0;
	background: #ED9B40;
}
.card
{
	background: #214E34;
	color: #FBF2C0;
}
.card-header{
	background: #ED9B40;
	color: #FBF2C0;
}
body
{
	background-image: url("/storage/img/contactar--03.jpg");
	background-position: right top;
	background-repeat: no-repeat;
}